<a href="https://colab.research.google.com/github/sarrab/DMML2020_COOP/blob/master/Copy_of_COOP20_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading

Below is how the dataset looks like

In [1]:

df_train = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataMining_and_MachineLearning/master/project/training_data.csv")

There are 6471 rows and 5 columns in the training data.
Since column text contains the tweets, our first assumption is that it might be the most important predictor

### What does each column show?

This dataset contains tweets about whether or not a reported disaster is real. 
Some of the features in the dataset are:

>	1.	`Id` : id of the tweet.
>	2.	`keyword`: a kind of a title for that paritucular disaster 
>	3.	`location`: the geographical location where that disaster happened.
>	4.	`text`: the disaster messages in form a tweet.
>	5.	`target`: value representing whether the reported tweet was true or not
    
Our task is to predict whether a tweet is real or not, i.e, we should use the target column as the labels.

In [ ]:
df_train.shape

(6471, 5)

**We may need different versions of our dataset while Cleaning**

In [ ]:
df_train_copy = df_train.copy()
df_train_copy_1 = df_train.copy()
df_train_copy_2 = df_train.copy()
df_train_copy_3 = df_train.copy()
df_train_copy_4 = df_train.copy()
df_train_copy_5 = df_train.copy()
df_train_copy_6 = df_train.copy()
df_train_copy_7 = df_train.copy()
df_train_copy_8 = df_train.copy()
df_train_copy_9 = df_train.copy()

Let's use these dataset for trying various things out

In [ ]:
df_test_copy = df_test.copy()
df_test_copy_1 = df_test.copy()
df_test_copy_2 = df_test.copy()

## Cleaning: 1st Run

In [ ]:
df_train_copy_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6471 entries, 0 to 6470
Data columns (total 5 columns):
id          6471 non-null int64
keyword     6416 non-null object
location    4330 non-null object
text        6471 non-null object
target      6471 non-null int64
dtypes: int64(2), object(3)
memory usage: 252.9+ KB

### Let's start with the duplicated values

In [ ]:
dupli=df_train_copy_1[df_train_copy_1[['keyword','location','text']].duplicated() == True]
dupli

,id,keyword,location,text,target
790,6097,hellfire,NaN,The Prophet (peace be upon him) said 'Save you...,1
978,4072,displaced,Pedophile hunting ground,.POTUS #StrategicPatience is a strategy for #G...,1
1455,9225,suicide%20bombing,NaN,'Suicide bombing at [location named]...' #prem...,1
1481,9135,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
1492,4077,displaced,Pedophile hunting ground,.POTUS #StrategicPatience is a strategy for #G...,1
1737,4691,engulfed,NaN,He came to a land which was engulfed in tribal...,0
1789,5157,fatal,NaN,11-Year-Old Boy Charged With Manslaughter of T...,1
1822,6132,hellfire,NaN,The Prophet (peace be upon him) said 'Save you...,1
1946,5113,fatal,NaN,11-Year-Old Boy Charged With Manslaughter of T...,1
2212,5140,fatal,NaN,11-Year-Old Boy Charged With Manslaughter of T...,1
2363,238,airplane%20accident,NaN,Experts in France begin examining airplane deb...,1
2597,6223,hijacker,worldwide,RT NotExplained: The only known image of infam...,1
2628,916,bioterrorism,NaN,To fight bioterrorism sir.,0
2658,9107,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
2941,3520,derailment,NaN,Madhya Pradesh Train Derailment: Village Youth...,1
3076,9114,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
3153,5159,fatal,NaN,11-Year-Old Boy Charged With Manslaughter of T...,1
3255,3814,detonate,"Morioh, Japan",@spinningbot Are you another Stand-user? If yo...,0
3275,3373,demolition,NaN,General News Û¢åÊ'Demolition of houses on wat...,0
3340,3828,detonate,"Morioh, Japan",@TinyJecht Are you another Stand-user? If you ...,0
3359,8168,rescuers,NaN,VIDEO: 'We're picking up bodies from water': R...,1
3435,9531,terrorist,MAD as Hell,RT AbbsWinston: #Zionist #Terrorist kidnapped ...,1
3541,6874,mass%20murder,Anonymous,http://t.co/c1H7JECFrV @RoyalCarribean do your...,1
3575,4952,exploded,NaN,that exploded &amp; brought about the\nbeginni...,0
3673,6087,hellfire,NaN,The Prophet (peace be upon him) said 'Save you...,0
3852,3806,detonate,"Morioh, Japan",@spinningbot Are you another Stand-user? If yo...,0
3890,8183,rescuers,NaN,VIDEO: 'We're picking up bodies from water': R...,1
3891,9095,suicide%20bomb,Nigeria,#Bestnaijamade: 16yr old PKK suicide bomber wh...,1
3938,4076,displaced,Pedophile hunting ground,.POTUS #StrategicPatience is a strategy for #G...,0
3960,6088,hellfire,NaN,Hellfire is surrounded by desires so be carefu...,0
3976,165,aftershock,US,320 [IR] ICEMOON [AFTERSHOCK] | http://t.co/vA...,0
3988,6098,hellfire,NaN,Hellfire! We donÛªt even want to think about ...,0
4037,8158,rescuers,NaN,VIDEO: 'We're picking up bodies from water': R...,1
4061,6112,hellfire,NaN,Hellfire is surrounded by desires so be carefu...,1
4111,4057,displaced,NaN,#KCA #VoteJKT48ID 12News: UPDATE: A family of ...,1
4119,171,aftershock,Switzerland,320 [IR] ICEMOON [AFTERSHOCK] | http://t.co/TH...,0
4451,5699,floods,NaN,Who is bringing the tornadoes and floods. Who ...,0
4548,6017,hazardous,NaN,Caution: breathing may be hazardous to your he...,0
4592,5144,fatal,NaN,11-Year-Old Boy Charged With Manslaughter of T...,1
4632,881,bioterrorism,NaN,To fight bioterrorism sir.,1
4735,6118,hellfire,NaN,The Prophet (peace be upon him) said 'Save you...,0
4890,4672,engulfed,NaN,He came to a land which was engulfed in tribal...,0
4908,3524,derailment,NaN,Madhya Pradesh Train Derailment: Village Youth...,1
6099,8084,rescue,"Toronto, Ontario",UD: Rescue (Structural Collapse) - Scott Road ...,1
6163,3841,detonate,"Morioh, Japan",@TinyJecht Are you another Stand-user? If you ...,0
6272,6582,injury,NaN,incident with injury:I-495 inner loop Exit 31...,1
6440,3522,derailment,India,Madhya Pradesh Train Derailment: Village Youth...,1

#### we observe that there are duplicate entries

In [ ]:
df_train_copy_1.drop([790,978,1455,1481,1492,1737,1789,1822,1946,2212,2363,2597,2628,2658,2941,3076,3153,3255,3275,3340,3359,3435,3541,3575,3673,3852,3890,3891,3938,3960,3976,3988,4037,4061,4111,4119,4451,4548,4592,4632,4735,4890,4908,6099,6163,6272,6440], inplace = True)

We have dropped this duplicated entries. We are left with 6424 rows

In [ ]:
#keeping location
df_train_copy_2.drop([790,978,1455,1481,1492,1737,1789,1822,1946,2212,2363,2597,2628,2658,2941,3076,3153,3255,3275,3340,3359,3435,3541,3575,3673,3852,3890,3891,3938,3960,3976,3988,4037,4061,4111,4119,4451,4548,4592,4632,4735,4890,4908,6099,6163,6272,6440], inplace = True)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6471 entries, 0 to 6470
Data columns (total 5 columns):
id          6471 non-null int64
keyword     6416 non-null object
location    4330 non-null object
text        6471 non-null object
target      6471 non-null int64
dtypes: int64(2), object(3)
memory usage: 252.9+ KB

In [ ]:
df_train_copy_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6424 entries, 0 to 6470
Data columns (total 5 columns):
id          6424 non-null int64
keyword     6369 non-null object
location    4312 non-null object
text        6424 non-null object
target      6424 non-null int64
dtypes: int64(2), object(3)
memory usage: 301.1+ KB

In [ ]:
df_train_copy_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6424 entries, 0 to 6470
Data columns (total 5 columns):
id          6424 non-null int64
keyword     6369 non-null object
location    4312 non-null object
text        6424 non-null object
target      6424 non-null int64
dtypes: int64(2), object(3)
memory usage: 301.1+ KB

#### we remark that keyword and location have some missing values.
Location:
   > About one third of locations are missing. 
   > Many of locations are, as per our findings in EDA, pseudonymes.
   > Thus, we need to drop it.

In [ ]:
df_train_copy_1.drop('location', axis = 1, inplace = True)

In [ ]:
df_train_copy_1

,id,keyword,text,target
0,3738,destroyed,Black Eye 9: A space battle occurred at Star O...,0
1,853,bioterror,#world FedEx no longer to transport bioterror ...,0
2,10540,windstorm,Reality Training: Train falls off elevated tra...,1
3,5988,hazardous,#Taiwan Grace: expect that large rocks trees m...,1
4,6328,hostage,New ISIS Video: ISIS Threatens to Behead Croat...,1
...,...,...,...,...
6466,4377,earthquake,#Earthquake #Sismo M 1.9 - 15km E of Anchorage...,1
6467,3408,derail,@EmiiliexIrwin Totally agree.She is 23 and kno...,0
6468,9794,trapped,Hollywood Movie About Trapped Miners Released ...,1
6469,10344,weapons,Friendly reminder that the only country to eve...,1
6470,1779,buildings%20on%20fire,Buildings are on fire and they have time for a...,1

#### And Of course is obvious that Id is not of much importance for us.

In [ ]:
df_train_copy_1.drop('id', axis = 1, inplace = True) #useless feature

In [ ]:
#with location
df_train_copy_2.drop('id', axis = 1, inplace = True) #useless feature

We, therefore, dropped it.

In [ ]:
df_train_copy_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6424 entries, 0 to 6470
Data columns (total 3 columns):
keyword    6369 non-null object
text       6424 non-null object
target     6424 non-null int64
dtypes: int64(1), object(2)
memory usage: 200.8+ KB

We observe that Keyword feature is missing some values

### Let's deal with missing values

In [ ]:
df_train_copy_1['keyword'].isnull().sum()

55

In [ ]:
df_train_copy_1[df_train_copy_1['keyword'].isnull() == True]

     keyword                                               text  target
46       NaN  #breaking #LA Refugio oil spill may have been ...       1
224      NaN  RT @LivingSafely: #NWS issues Severe #Thunders...       1
263      NaN  I'm on top of the hill and I can see a fire in...       1
563      NaN  13,000 people receive #wildfires evacuation or...       1
892      NaN        Three people died from the heat wave so far       1
1020     NaN                              What a wonderful day!       0
1101     NaN  Pic of 16yr old PKK suicide bomber who detonat...       1
1231     NaN  #flood #disaster Heavy rain causes flash flood...       1
1281     NaN  #raining #flooding #Florida #TampaBay #Tampa 1...       1
1285     NaN  #Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...       1
1544     NaN  NWS: Flash Flood Warning Continued for Shelby ...       1
1606     NaN                                     What's up man?       0
1776     NaN  Haha South Tampa is getting flooded hah- WAIT ...       1
1890     NaN  #WorldNews Fallen powerlines on G:link tram: U...       1
1892     NaN  There's an emergency evacuation happening now ...       1
2029     NaN  The Latest: More Homes Razed by Northern Calif...       1
2082     NaN  a siren just went off and it wasn't the Forney...       1
2215     NaN                                           LOOOOOOL       0
2485     NaN  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
2594     NaN                                   Summer is lovely       0
2624     NaN                                 Sirens everywhere!       0
2631     NaN                                      I love fruits       0
2681     NaN  #stormchase Violent Record Breaking EF-5 El Re...       1
2720     NaN  All residents asked to 'shelter in place' are ...       1
3281     NaN  Calgary Police Flood Road Closures in Calgary....       1
3351     NaN  #??? #?? #??? #??? MH370: Aircraft debris foun...       1
3503     NaN  Two giant cranes holding a bridge collapse int...       1
3707     NaN  Suicide bomber kills 15 in Saudi security site...       1
3723     NaN  Police investigating after an e-bike collided ...       1
3739     NaN                             this is ridiculous....       0
3925     NaN  These boxes are ready to explode! Exploding Ki...       0
3990     NaN                                  My car is so fast       0
4146     NaN            #Flood in Bago Myanmar #We arrived Bago       1
4315     NaN  I'm afraid that the tornado is coming to our a...       1
4453     NaN  #RockyFire Update => California Hwy. 20 closed...       1
4588     NaN                                 Do you like pasta?       0
4688     NaN  Officials say a quarantine is in place at an A...       1
4793     NaN  Damage to school bus on 80 in multi car crash ...       1
4854     NaN                                 Love my girlfriend       0
4989     NaN  A gas thing just exploded and I heard screams ...       1
5536     NaN             Forest fire near La Ronge Sask. Canada       1
5623     NaN                                        Love skiing       0
5660     NaN  @aria_ahrary @TheTawniest The out of control w...       1
5771     NaN                                          Cooool :)       0
5929     NaN  An IS group suicide bomber detonated an explos...       1
5937     NaN  Our Deeds are the Reason of this #earthquake M...       1
5997     NaN  Just got sent this photo from Ruby #Alaska as ...       1
6006     NaN                                           The end!       0
6103     NaN                              Was in NYC last week!       0
6153     NaN                                  London is cool ;)       0
6236     NaN                       What a goooooooaaaaaal!!!!!!       0
6310     NaN                                     Omg earthquake       1
6315     NaN  on the flip side I'm at Walmart and there is a...       1
6407     NaN  BREAKING: #ISIS claims responsibility for mosq...       1
6442     NaN                     No way...I can't eat that shit       0

In [ ]:
df_train_copy_to_remove = df_train_copy_1[df_train_copy_1['keyword'].isnull()]
index_to_remove=df_train_copy_to_remove.index
index_to_remove

Int64Index([  46,  224,  263,  563,  892, 1020, 1101, 1231, 1281, 1285, 1544,
            1606, 1776, 1890, 1892, 2029, 2082, 2215, 2485, 2594, 2624, 2631,
            2681, 2720, 3281, 3351, 3503, 3707, 3723, 3739, 3925, 3990, 4146,
            4315, 4453, 4588, 4688, 4793, 4854, 4989, 5536, 5623, 5660, 5771,
            5929, 5937, 5997, 6006, 6103, 6153, 6236, 6310, 6315, 6407, 6442],
           dtype='int64')

In [ ]:
df_train_copy_1.drop(index_to_remove, inplace = True)

In [ ]:
#dealing missing location
df_train_copy_2[df_train_copy_2['location'].isnull() == True]

,id,keyword,location,text,target
1,853,bioterror,NaN,#world FedEx no longer to transport bioterror ...,0
9,9586,thunder,NaN,The thunder shook my house woke my sister and ...,1
14,8621,seismic,NaN,Thanks Benson &amp; Clegg for the #follow! Che...,0
15,1710,bridge%20collapse,NaN,Mexico: construction of bridge collapse killså...,1
20,10195,violent%20storm,NaN,Storm blitzes Traverse City disrupts Managemen...,1
...,...,...,...,...,...
6462,4709,epicentre,NaN,Epicentre - Cydia Tweak - https://t.co/WKmfDig...,0
6463,8661,sinkhole,NaN,150-Foot Sinkhole Opens in Lowndes County Resi...,1
6467,3408,derail,NaN,@EmiiliexIrwin Totally agree.She is 23 and kno...,0
6468,9794,trapped,NaN,Hollywood Movie About Trapped Miners Released ...,1
6470,1779,buildings%20on%20fire,NaN,Buildings are on fire and they have time for a...,1

In [ ]:
df_train_copy_to_remove_loc = df_train_copy_2[df_train_copy_2['location'].isnull()]
index_to_remove_loc = df_train_copy_to_remove_loc.index
index_to_remove_loc

Int64Index([   1,    9,   14,   15,   20,   21,   24,   25,   28,   29,
            ...
            6453, 6454, 6456, 6460, 6461, 6462, 6463, 6467, 6468, 6470],
           dtype='int64', length=2112)

In [ ]:
df_train_copy_2.drop(index_to_remove_loc, inplace = True)

In [ ]:
df_train_copy_2['keyword'].isnull().sum()

0

In [ ]:
#dealing missing location
df_train_copy_3 = df_train
df_train_copy_4 = df_train
df_train_copy_5 = df_train

In [ ]:
#keeping location
df_train_copy_3.drop([790,978,1455,1481,1492,1737,1789,1822,1946,2212,2363,2597,2628,2658,2941,3076,3153,3255,3275,3340,3359,3435,3541,3575,3673,3852,3890,3891,3938,3960,3976,3988,4037,4061,4111,4119,4451,4548,4592,4632,4735,4890,4908,6099,6163,6272,6440], inplace = True)

In [ ]:
#dealing missing location
# df_train_copy_3[df_train_copy_3['location'].isnull() == True]
df_train_copy_3.drop(index_to_remove_loc, inplace = True)

In [ ]:
clean_pos = df_train_copy_3.copy()

In [ ]:
df_train_copy_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4312 entries, 0 to 6469
Data columns (total 5 columns):
id          4312 non-null int64
keyword     4312 non-null object
location    4312 non-null object
text        4312 non-null object
target      4312 non-null int64
dtypes: int64(2), object(3)
memory usage: 202.1+ KB

In [ ]:
df_train_clean_copy = df_train_copy_1.copy()
df_train_clean_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6369 entries, 0 to 6470
Data columns (total 3 columns):
id                   6369 non-null int64
target               6369 non-null int64
Text With Keyword    6369 non-null object
dtypes: int64(2), object(1)
memory usage: 199.0+ KB

# Improvement- A New Approach With Better Assumptions

## Cleaning- Rethought

In [ ]:
#this provides a social tokenizer, word segmentation and spell correction
!pip install ekphrasis

Collecting ekphrasis
  Downloading https://files.pythonhosted.org/packages/92/e6/37c59d65e78c3a2aaf662df58faca7250eb6b36c559b912a39a7ca204cfb/ekphrasis-0.5.1.tar.gz (80kB)
     |████████████████████████████████| 81kB 2.9MB/s
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (1.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (4.41.1)
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Collecting ujson
  Downloading https://files.pythonhosted.org/packages/f1/84/e039c6ffc6603f2dfe966972d345d4f650a4ffd74b18c852ece645de12ac/ujson-4.0.1-cp36-cp36m-manylinux1_x86_64.whl (179kB)
     |████████████████████████████████| 184kB 7.1MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (3.2.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (3.2.5)
Collecting ftfy
  Downloading https://files.pythonhosted.org/packages/ff/e2/3b51c53dffb1e52d9210ebc01f1fb9f2f6eba9b3201fa971fd3946643c71/ftfy-5.8.tar.gz (64kB)
     |████████████████████████████████| 71kB 6.5MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (1.18.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->ekphrasis) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from ftfy->ekphrasis) (0.2.5)
Building wheels for collected packages: ekphrasis, ftfy
  Building wheel for ekphrasis (setup.py) ... done
  Created wheel for ekphrasis: filename=ekphrasis-0.5.1-cp36-none-any.whl size=82844 sha256=d214367e309b5d9de43da0df0815a925f8a708a69dabc9cd8a9cec832400bd4c
  Stored in directory: /root/.cache/pip/wheels/2f/c5/9b/c9b60f535a2cf9fdbc92d84c4801a010c35a9cd348011ed2a1
  Building wheel for ftfy (setup.py) ... done
  Created wheel for ftfy: filename=ftfy-5.8-cp36-none-any.whl size=45613 sha256=fac336987e6bb7fb398b899999fe3f2343614956d3652ce6ba7077161b19f79a
  Stored in directory: /root/.cache/pip/wheels/ba/c0/ef/f28c4da5ac84a4e06ac256ca9182fc34fa57fefffdbc68425b
Successfully built ekphrasis ftfy
Installing collected packages: colorama, ujson, ftfy, ekphrasis
Successfully installed colorama-0.4.4 ekphrasis-0.5.1 ftfy-5.8 ujson-4.0.1

Filling up the missing data With Tags

In [ ]:
df_train_copy_9["location"].fillna("<no-location>", inplace = True) 
df_test_copy["location"].fillna("<no-location>", inplace = True)

df_train_copy_9["keyword"].fillna("<no-keyword>", inplace = True) 
df_test_copy["keyword"].fillna("<no-keyword>", inplace = True)

**This cleans the http-url**

In [ ]:
# this takes care of the url
import re

df_train_copy_9.text = df_train_copy_9.text.apply(lambda x: re.sub(r'https?://\S+|www\.\S+', '', x, flags = re.MULTILINE))
df_train_copy_9.text.values

array(['Black Eye 9: A space battle occurred at Star O784 involving 3 fleets totaling 3945 ships with 17 destroyed',
       '#world FedEx no longer to transport bioterror germs in wake of anthrax lab mishaps  ',
       'Reality Training: Train falls off elevated tracks during windstorm  #Paramedic #EMS',
       ...,
       "Hollywood Movie About Trapped Miners Released in Chile: 'The 33' Hollywood movie about trapped miners starring... ",
       'Friendly reminder that the only country to ever use nuclear weapons is the U.S. And it was against civilians. ',
       'Buildings are on fire and they have time for a business meeting #TheStrain'],
      dtype=object)

**This takes care of the special character**

In [ ]:

df_train_copy_9.text = df_train_copy_9.text.apply(lambda x: re.sub(r"[^a-zA-Z:.'!?,#@_\s]+", '', x, flags = re.MULTILINE))
df_train_copy_9.keyword = df_train_copy_9.keyword.apply(lambda x: re.sub(r"[^a-zA-Z:.'!?,#@_\s]+", '', str(x), flags = re.MULTILINE))
df_train_copy_9.location = df_train_copy_9.location.apply(lambda x: re.sub(r"[^a-zA-Z:.'!?,#@_\s]+", '', str(x), flags = re.MULTILINE))
df_train_copy_9.text.values

array(['Black Eye : A space battle occurred at Star O involving  fleets totaling  ships with  destroyed',
       '#world FedEx no longer to transport bioterror germs in wake of anthrax lab mishaps  ',
       'Reality Training: Train falls off elevated tracks during windstorm  #Paramedic #EMS',
       ...,
       "Hollywood Movie About Trapped Miners Released in Chile: 'The ' Hollywood movie about trapped miners starring... ",
       'Friendly reminder that the only country to ever use nuclear weapons is the U.S. And it was against civilians. ',
       'Buildings are on fire and they have time for a business meeting #TheStrain'],
      dtype=object)

In [ ]:
df_test_copy.text = df_test_copy.text.apply(lambda x: re.sub(r'https?://\S+|www\.\S+', '', x, flags = re.MULTILINE))
df_test_copy.text.values

array(['Crptotech tsunami and banks.\n  #Banking #tech #bitcoing #blockchain',
       "I'm that traumatised that I can't even spell properly! Excuse the typos!",
       '@foxnewsvideo @AIIAmericanGirI @ANHQDC So ... where are the rioters looters and burning buildings????  WHITE LIVES MATTER!!!!!!',
       ...,
       'Eruption of Indonesian volcano sparks transport chaos: In this picture done from video Mount Raung in\x89Û_  ?',
       'Never let fear get in the way of achieving your dreams! #deltachildren #instaquote #quoteoftheday #Disney #WaltDisney ',
       'wowo--=== 12000 Nigerian refugees repatriated from Cameroon'],
      dtype=object)

In [ ]:
df_test_copy.text = df_test_copy.text.apply(lambda x: re.sub(r"[^a-zA-Z:.'!?,#@_\s]+", '', x, flags = re.MULTILINE))
df_test_copy.keyword = df_test_copy.keyword.apply(lambda x: re.sub(r"[^a-zA-Z:.'!?,#@_\s]+", '', str(x), flags = re.MULTILINE))
df_test_copy.location = df_test_copy.location.apply(lambda x: re.sub(r"[^a-zA-Z:.'!?,#@_\s]+", '', str(x), flags = re.MULTILINE))
df_test_copy.text.values

array(['Crptotech tsunami and banks.\n  #Banking #tech #bitcoing #blockchain',
       "I'm that traumatised that I can't even spell properly! Excuse the typos!",
       '@foxnewsvideo @AIIAmericanGirI @ANHQDC So ... where are the rioters looters and burning buildings????  WHITE LIVES MATTER!!!!!!',
       ...,
       'Eruption of Indonesian volcano sparks transport chaos: In this picture done from video Mount Raung in_  ?',
       'Never let fear get in the way of achieving your dreams! #deltachildren #instaquote #quoteoftheday #Disney #WaltDisney ',
       'wowo  Nigerian refugees repatriated from Cameroon'], dtype=object)

In [ ]:
df_train_copy_9

         id          keyword  ... target avg_word_length
0      3738        destroyed  ...      0        0.135191
1       853        bioterror  ...      0        0.219608
2     10540        windstorm  ...      1        0.323529
3      5988        hazardous  ...      1        0.218782
4      6328          hostage  ...      1        0.239908
...     ...              ...  ...    ...             ...
6466   4377       earthquake  ...      1        0.274510
6467   3408           derail  ...      0        0.135686
6468   9794          trapped  ...      1        0.277970
6469  10344          weapons  ...      1        0.198039
6470   1779  buildingsonfire  ...      1        0.143288

[6471 rows x 6 columns]

**Decontracting Words**

In [ ]:
#we may use this too
#dealing with contractions
contractions = { 
"ain't": "am not / are not / is not / has not / have not",
"aren't": "are not / am not",
"can't": "cannot",
"cant": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is / how does",
"I'd": "I had / I would",
"I'd've": "I would have",
"I'll": "I shall / I will",
"I'll've": "I shall have / I will have",
"I'm": "I am",
"I'm": "I am",
"I've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

contractions_re = re.compile('(%s)' % '|'.join(contractions.keys()))
def expand_contractions(s, contractions = contractions):
    def replace(match):
        return contractions[match.group(0)]
    return contractions_re.sub(replace, s)

df_train_copy_9.text = df_train_copy_9.text.apply(expand_contractions) 
df_test_copy.text = df_test_copy.text.apply(expand_contractions)
df_test_copy

         id  ... avg_word_length
0      9972  ...        0.465887
1      9865  ...        0.198830
2      1937  ...        0.328947
3      3560  ...        0.390750
4      2731  ...        0.249123
...     ...  ...             ...
1137   3497  ...        0.160234
1138   9191  ...        0.232456
1139  10217  ...        0.278752
1140   5308  ...        0.353973
1141   8044  ...        0.373434

[1142 rows x 5 columns]

**Dealing with abrevations**

In [ ]:

def clean_tw(tweet):

    #correct some acronyms while we are at it
    tweet = re.sub(r"tnwx", "Tennessee Weather", tweet)
    tweet = re.sub(r"azwx", "Arizona Weather", tweet)  
    tweet = re.sub(r"alwx", "Alabama Weather", tweet)
    tweet = re.sub(r"wordpressdotcom", "wordpress", tweet)      
    tweet = re.sub(r"gawx", "Georgia Weather", tweet)  
    tweet = re.sub(r"scwx", "South Carolina Weather", tweet)  
    tweet = re.sub(r"cawx", "California Weather", tweet)
    tweet = re.sub(r"usNWSgov", "United States National Weather Service", tweet) 
    tweet = re.sub(r"MH370", "Malaysia Airlines Flight 370", tweet)
    tweet = re.sub(r"okwx", "Oklahoma City Weather", tweet)
    tweet = re.sub(r"arwx", "Arkansas Weather", tweet)  
    tweet = re.sub(r"lmao", "laughing my ass off", tweet)  
    tweet = re.sub(r"amirite", "am I right", tweet)
    
    #and some typos/abbreviations
    tweet = re.sub(r"w/e", "whatever", tweet)
    tweet = re.sub(r"w/", "with", tweet)
    tweet = re.sub(r"USAgov", "USA government", tweet)
    tweet = re.sub(r"recentlu", "recently", tweet)
    tweet = re.sub(r"Ph0tos", "Photos", tweet)
    tweet = re.sub(r"exp0sed", "exposed", tweet)
    tweet = re.sub(r"<3", "love", tweet)
    tweet = re.sub(r"amageddon", "armageddon", tweet)
    tweet = re.sub(r"Trfc", "Traffic", tweet)
    tweet = re.sub(r"WindStorm", "Wind Storm", tweet)
    tweet = re.sub(r"16yr", "16 year", tweet)
    tweet = re.sub(r"TRAUMATISED", "traumatized", tweet)
    
    #hashtags and usernames
    tweet = re.sub(r"IranDeal", "Iran Deal", tweet)
    tweet = re.sub(r"ArianaGrande", "Ariana Grande", tweet)
    tweet = re.sub(r"camilacabello97", "camila cabello", tweet) 
    tweet = re.sub(r"RondaRousey", "Ronda Rousey", tweet)     
    tweet = re.sub(r"MTVHottest", "MTV Hottest", tweet)
    tweet = re.sub(r"TrapMusic", "Trap Music", tweet)
    tweet = re.sub(r"ProphetMuhammad", "Prophet Muhammad", tweet)
    tweet = re.sub(r"PantherAttack", "Panther Attack", tweet)
    tweet = re.sub(r"StrategicPatience", "Strategic Patience", tweet)
    tweet = re.sub(r"socialnews", "social news", tweet)
    tweet = re.sub(r"IDPs:", "Internally Displaced People :", tweet)
    tweet = re.sub(r"ArtistsUnited", "Artists United", tweet)
    tweet = re.sub(r"ClaytonBryant", "Clayton Bryant", tweet)
    tweet = re.sub(r"jimmyfallon", "jimmy fallon", tweet)
    tweet = re.sub(r"justinbieber", "justin bieber", tweet)  
    tweet = re.sub(r"Time2015", "Time 2015", tweet)
    tweet = re.sub(r"djicemoon", "dj icemoon", tweet)
    tweet = re.sub(r"LivingSafely", "Living Safely", tweet)
    tweet = re.sub(r"FIFA16", "Fifa 2016", tweet)
    tweet = re.sub(r"thisiswhywecanthavenicethings", "this is why we cannot have nice things", tweet)
    tweet = re.sub(r"bbcnews", "bbc news", tweet)
    tweet = re.sub(r"UndergroundRailraod", "Underground Railraod", tweet)
    tweet = re.sub(r"c4news", "c4 news", tweet)
    tweet = re.sub(r"MUDSLIDE", "mudslide", tweet)
    tweet = re.sub(r"NoSurrender", "No Surrender", tweet)
    tweet = re.sub(r"NotExplained", "Not Explained", tweet)
    tweet = re.sub(r"greatbritishbakeoff", "great british bake off", tweet)
    tweet = re.sub(r"LondonFire", "London Fire", tweet)
    tweet = re.sub(r"KOTAWeather", "KOTA Weather", tweet)
    tweet = re.sub(r"LuchaUnderground", "Lucha Underground", tweet)
    tweet = re.sub(r"KOIN6News", "KOIN 6 News", tweet)
    tweet = re.sub(r"LiveOnK2", "Live On K2", tweet)
    tweet = re.sub(r"9NewsGoldCoast", "9 News Gold Coast", tweet)
    tweet = re.sub(r"nikeplus", "nike plus", tweet)
    tweet = re.sub(r"david_cameron", "David Cameron", tweet)
    tweet = re.sub(r"peterjukes", "Peter Jukes", tweet)
    tweet = re.sub(r"MikeParrActor", "Michael Parr", tweet)
    tweet = re.sub(r"4PlayThursdays", "Foreplay Thursdays", tweet)
    tweet = re.sub(r"TGF2015", "Tontitown Grape Festival", tweet)
    tweet = re.sub(r"realmandyrain", "Mandy Rain", tweet)
    tweet = re.sub(r"GraysonDolan", "Grayson Dolan", tweet)
    tweet = re.sub(r"ApolloBrown", "Apollo Brown", tweet)
    tweet = re.sub(r"saddlebrooke", "Saddlebrooke", tweet)
    tweet = re.sub(r"TontitownGrape", "Tontitown Grape", tweet)
    tweet = re.sub(r"AbbsWinston", "Abbs Winston", tweet)
    tweet = re.sub(r"ShaunKing", "Shaun King", tweet)
    tweet = re.sub(r"MeekMill", "Meek Mill", tweet)
    tweet = re.sub(r"TornadoGiveaway", "Tornado Giveaway", tweet)
    tweet = re.sub(r"GRupdates", "GR updates", tweet)
    tweet = re.sub(r"SouthDowns", "South Downs", tweet)
    tweet = re.sub(r"braininjury", "brain injury", tweet)
    tweet = re.sub(r"auspol", "Australian politics", tweet)
    tweet = re.sub(r"PlannedParenthood", "Planned Parenthood", tweet)
    tweet = re.sub(r"calgaryweather", "Calgary Weather", tweet)
    tweet = re.sub(r"weallheartonedirection", "we all heart one direction", tweet)
    tweet = re.sub(r"edsheeran", "Ed Sheeran", tweet)
    tweet = re.sub(r"TrueHeroes", "True Heroes", tweet)
    tweet = re.sub(r"ComplexMag", "Complex Magazine", tweet)
    tweet = re.sub(r"TheAdvocateMag", "The Advocate Magazine", tweet)
    tweet = re.sub(r"CityofCalgary", "City of Calgary", tweet)
    tweet = re.sub(r"EbolaOutbreak", "Ebola Outbreak", tweet)
    tweet = re.sub(r"SummerFate", "Summer Fate", tweet)
    tweet = re.sub(r"RAmag", "Royal Academy Magazine", tweet)
    tweet = re.sub(r"offers2go", "offers to go", tweet)
    tweet = re.sub(r"ModiMinistry", "Modi Ministry", tweet)
    tweet = re.sub(r"TAXIWAYS", "taxi ways", tweet)
    tweet = re.sub(r"Calum5SOS", "Calum Hood", tweet)
    tweet = re.sub(r"JamesMelville", "James Melville", tweet)
    tweet = re.sub(r"JamaicaObserver", "Jamaica Observer", tweet)
    tweet = re.sub(r"TweetLikeItsSeptember11th2001", "Tweet like it is september 11th 2001", tweet)
    tweet = re.sub(r"cbplawyers", "cbp lawyers", tweet)
    tweet = re.sub(r"fewmoretweets", "few more tweets", tweet)
    tweet = re.sub(r"BlackLivesMatter", "Black Lives Matter", tweet)
    tweet = re.sub(r"NASAHurricane", "NASA Hurricane", tweet)
    tweet = re.sub(r"onlinecommunities", "online communities", tweet)
    tweet = re.sub(r"humanconsumption", "human consumption", tweet)
    tweet = re.sub(r"Typhoon-Devastated", "Typhoon Devastated", tweet)
    tweet = re.sub(r"Meat-Loving", "Meat Loving", tweet)
    tweet = re.sub(r"facialabuse", "facial abuse", tweet)
    tweet = re.sub(r"LakeCounty", "Lake County", tweet)
    tweet = re.sub(r"BeingAuthor", "Being Author", tweet)
    tweet = re.sub(r"withheavenly", "with heavenly", tweet)
    tweet = re.sub(r"thankU", "thank you", tweet)
    tweet = re.sub(r"iTunesMusic", "iTunes Music", tweet)
    tweet = re.sub(r"OffensiveContent", "Offensive Content", tweet)
    tweet = re.sub(r"WorstSummerJob", "Worst Summer Job", tweet)
    tweet = re.sub(r"HarryBeCareful", "Harry Be Careful", tweet)
    tweet = re.sub(r"NASASolarSystem", "NASA Solar System", tweet)
    tweet = re.sub(r"animalrescue", "animal rescue", tweet)
    tweet = re.sub(r"KurtSchlichter", "Kurt Schlichter", tweet)
    tweet = re.sub(r"Throwingknifes", "Throwing knives", tweet)
    tweet = re.sub(r"GodsLove", "God's Love", tweet)
    tweet = re.sub(r"bookboost", "book boost", tweet)
    tweet = re.sub(r"ibooklove", "I book love", tweet)
    tweet = re.sub(r"NestleIndia", "Nestle India", tweet)
    tweet = re.sub(r"realDonaldTrump", "Donald Trump", tweet)
    tweet = re.sub(r"DavidVonderhaar", "David Vonderhaar", tweet)
    tweet = re.sub(r"CecilTheLion", "Cecil The Lion", tweet)
    tweet = re.sub(r"weathernetwork", "weather network", tweet)
    tweet = re.sub(r"GOPDebate", "GOP Debate", tweet)
    tweet = re.sub(r"RickPerry", "Rick Perry", tweet)
    tweet = re.sub(r"frontpage", "front page", tweet)
    tweet = re.sub(r"NewsInTweets", "News In Tweets", tweet)
    tweet = re.sub(r"ViralSpell", "Viral Spell", tweet)
    tweet = re.sub(r"til_now", "until now", tweet)
    tweet = re.sub(r"volcanoinRussia", "volcano in Russia", tweet)
    tweet = re.sub(r"ZippedNews", "Zipped News", tweet)
    tweet = re.sub(r"MicheleBachman", "Michele Bachman", tweet)
    tweet = re.sub(r"53inch", "53 inch", tweet)
    tweet = re.sub(r"KerrickTrial", "Kerrick Trial", tweet)
    tweet = re.sub(r"abstorm", "Alberta Storm", tweet)
    tweet = re.sub(r"Beyhive", "Beyonce hive", tweet)
    tweet = re.sub(r"RockyFire", "Rocky Fire", tweet)
    tweet = re.sub(r"Listen/Buy", "Listen / Buy", tweet)
    tweet = re.sub(r"ArtistsUnited", "Artists United", tweet)
    tweet = re.sub(r"ENGvAUS", "England vs Australia", tweet)
    tweet = re.sub(r"TheStrain", "The Strain", tweet)
    tweet = re.sub(r"bioterror", "bio terror", tweet)
    tweet = re.sub(r"transpo", "transport", tweet)
    tweet = re.sub(r"ScottWalker", "Scott Walker", tweet)

    return tweet 


df_train_copy_9.text = df_train_copy_9.text.apply(clean_tw) 
df_test_copy.text = df_test_copy.text.apply(clean_tw) 
df_test_copy.text

0       Crptotech tsunami and banks.\n  #Banking #tech...
1       I am that traumatised that I cannot even spell...
2       @foxnewsvideo @AIIAmericanGirI @ANHQDC So ... ...
3       Me watching Law amp Order IB: @sauldale Vine b...
4                       Papi absolutely crushed that ball
                              ...
1137    @ItsQueenBaby I am at work it has / it is a bu...
1138    #?? #?? #??? #??? Suicide bomber kills  in Sau...
1139    Eruption of Indonesian volcano sparks transpor...
1140    Never let fear get in the way of achieving you...
1141    wowo  Nigerian refugees repatriated from Cameroon
Name: text, Length: 1142, dtype: object

###Ekphrasis: Dealing with Social Text

It is a tool which preprocesses social text from social networks, such as Twitter or Facebook

https://github.com/cbaziotis/ekphrasis

In [ ]:
from ekphrasis.classes.preprocessor import TextPreProcessor
from ekphrasis.classes.tokenizer import SocialTokenizer
from ekphrasis.dicts.emoticons import emoticons
import nltk


text_processor = TextPreProcessor(
    # terms that will be normalized
    normalize=['email', 'percent', 'money', 'phone', 'url', 'user',
        'time', 'date', 'number'],
    # terms that will be annotated
    annotate={"hashtag","elongated", "repeated",
        'emphasis', 'censored'},
    fix_html=True,  # fix HTML tokens
    
    # corpus from which the word statistics are going to be used 
    # for word segmentation 
    segmenter="twitter", 
    
    # corpus from which the word statistics are going to be used 
    # for spell correction
    corrector="twitter", 
    
    unpack_hashtags=True,  # perform word segmentation on hashtags
    unpack_contractions=True,  # Unpack contractions (can't -> can not)
    spell_correct_elong=False,  # spell correction for elongated words
    
    # select a tokenizer. You can use SocialTokenizer, or pass your own
    # the tokenizer, should take as input a string and return a list of tokens
    tokenizer=SocialTokenizer(lowercase=True).tokenize,
    
    # list of dictionaries, for replacing tokens extracted from the text,
    # with other expressions. You can pass more than one dictionaries.
    dicts=[emoticons]
)

i = 0
for review in df_train_copy_9.text.values:
    df_train_copy_9['text'].loc[i]=" ".join(text_processor.pre_process_doc(review))
    i += 1
# df_train_copy_9['text']

j = 0
for review in df_test_copy.text.values:
    df_test_copy['text'].loc[j]=" ".join(text_processor.pre_process_doc(review))
    j += 1
df_test_copy['text'].values

Word statistics files not found!
Downloading... done!
Unpacking... done!
Reading twitter - 1grams ...
generating cache file for faster loading...
reading ngrams /root/.ekphrasis/stats/twitter/counts_1grams.txt
Reading twitter - 2grams ...
generating cache file for faster loading...
reading ngrams /root/.ekphrasis/stats/twitter/counts_2grams.txt
Reading twitter - 1grams ...

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

array(['crptotech tsunami and banks . <hashtag> banking </hashtag> <hashtag> tech </hashtag> <hashtag> bitcoin g </hashtag> <hashtag> blockchain </hashtag>',
       'i am that traumatised that i cannot even spell properly ! excuse the typos !',
       '<user> <user> <user> so . <repeated> where are the rioters looters and burning buildings ? <repeated> white lives matter ! <repeated>',
       ...,
       'eruption of indonesian volcano sparks transportrt chaos : in this picture done from video mount raung in_ ?',
       'never let fear get in the way of achieving your dreams ! <hashtag> delta children </hashtag> <hashtag> insta quote </hashtag> <hashtag> quote of the day </hashtag> <hashtag> disney </hashtag> <hashtag> walt disney </hashtag>',
       'wowo nigerian refugees repatriated from cameroon'], dtype=object)